// BG
$main-bg: #1f1f1f;
$soft-bg: #181818;
$dark-bg: #222b3c;

//TEXT
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;
//Icons
$main-icon: invert(0%);

// //Clear
// $main-bg: #ffffff;
// $soft-bg: #f5f6fa;
// $dark-bg: #f5f5f5;
// //Clear TEXT
// $main-color: black; 
// $soft-color: #1f1f1f;
// $dark-color: #181818;

// //Clear Icons
// $main-icon: invert(100%);

