.dataTable {
    .dataGrid {
        padding: 15px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        .MuiDataGrid-toolbarContainer {
            flex-direction: row-reverse;
        }
    }
}